//Global
body {
  font-family: "Karla", sans-serif;
}

//Page Margins
.container {
  max-width: 92%;
}

#gallery {
  padding-bottom: 25px;
}

#first-row {
  padding-top: 0;
}

//Nav bar
.navbar {
  padding: 1.5rem 1rem;
  text-transform: lowercase;

  .navbar-brand {
    font-size: 2rem;
  }

}

.bg-light{
  background-color: #fff!important;
}

//Hamburger
.navbar-light .navbar-toggler {
  border: none;
}

// Header
#header {
    font-family: "Kumar One", sans-serif;
    text-transform: lowercase;
    display: inline;
    position: relative;
    color: rgb(244,210,217);
}

  #header:after {
    content: "bridget errante";
    position: absolute; left: 4px; top: 9px;
    color: rgb(240,89,78);
  }

// Grid Spacing
.row {
padding-bottom: 12px;
padding-top: 12px;
}

.col-lg-6 {
  padding-left: 12px;
  padding-right: 12px;
}

// Mobile Grid
@media (max-width: 990px){
  .row {
  padding-bottom: 0;
  padding-top: 0;
  }

  .col-sm-12 {
    padding-bottom: 24px;
  }
}

// Gallery img hover
#img-container {
  position: relative;
  width: 50%;
}

#gallery-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, .9);
}

#img-container:hover .overlay {
  opacity: 1;
}

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

//About page
#about-text {
  text-align: right;

  @media (max-width: 990px){
    text-align: center;
  }
}

#contact-btn {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-style: solid;

  @media (max-width: 991px){
    visibility: hidden;
  }
}

#contact-btn-sm{
  visibility: hidden;

  @media (max-width: 991px){
    visibility: visible;
    background-color: #fff;
    border-style: solid;
    width:50%;
  }
}

//Bottom Nav
#bottom-nav {
  font-size: 1.25rem;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: #d1d1d1;
}

  a:hover {
    text-decoration: none;
    color: #000;
  }
