body {
  font-family: "Karla", sans-serif; }
  body h3 {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -3px;
    line-height: 1; }
  body h4 {
    font-size: 1.2rem;
    margin: 0; }

.container {
  max-width: 92%; }

#gallery {
  padding-bottom: 25px; }

#first-row {
  padding-top: 0; }

.navbar {
  padding: 2.5rem 1rem 3rem 1rem;
  text-transform: lowercase; }
  .navbar .navbar-brand {
    font-size: 2rem; }
    @media (max-width: 576px) {
      .navbar .navbar-brand {
        font-size: 1.6rem; } }

.bg-light {
  background-color: #fff !important; }

.navbar-light .navbar-toggler {
  border: none; }

#header {
  font-family: "Kumar One", sans-serif;
  text-align: center;
  text-transform: lowercase;
  display: inline;
  position: relative;
  color: #f4d2d9; }

#header:after {
  content: "bridget errante";
  font-family: "Kumar One Outline", sans-serif;
  position: absolute;
  left: 4px;
  top: 9px;
  color: #f0594e; }

.row {
  padding: 12px 16px 12px 16px; }

@media (max-width: 992px) {
  .row {
    padding-bottom: 0;
    padding-top: 0; }

  .col-sm-12 {
    padding-bottom: 24px; } }
#landing-text-1 {
  display: none; }
  @media (max-width: 992px) {
    #landing-text-1 {
      display: block; } }
  @media (max-width: 576px) {
    #landing-text-1 {
      display: block;
      text-align: center; } }

#landing-text-2 {
  display: block; }
  @media (max-width: 992px) {
    #landing-text-2 {
      display: none; } }

#gallery-img {
  display: block;
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.9); }

#img-container:hover .overlay {
  opacity: 1; }

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.fa {
  padding-left: 10px; }

p {
  padding-top: 10px;
  margin: 0; }

#about-text {
  text-align: right; }
  @media (max-width: 992px) {
    #about-text {
      text-align: center; } }

#contact-btn {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-style: solid;
  padding: 10px 20px 10px 20px; }

#contact-btn-sm {
  visibility: hidden; }
  @media (max-width: 992px) {
    #contact-btn-sm {
      visibility: visible;
      background-color: #fff;
      border-style: solid;
      width: 50%; } }
  @media (max-width: 576px) {
    #contact-btn-sm {
      width: 100%; } }

#bottom-nav {
  font-size: 1.25rem;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 991px) {
    #bottom-nav {
      font-size: 1rem; } }
  @media (max-width: 576px) {
    #bottom-nav {
      visibility: hidden; } }

a {
  text-decoration: none;
  color: #d1d1d1; }

a:hover {
  text-decoration: none;
  color: #000; }

.card {
  border: none; }
  .card .card-img-bottom {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .card h3 {
    font-family: "Kumar One", sans-serif; }

/*# sourceMappingURL=style.css.map */
