//Global
body {
  font-family: "Karla", sans-serif;

  h3{
    font-weight: 700;
    font-size: 1.625rem;
    letter-spacing: -2px;
    line-height: 1.385;
  }

  h4{
    font-size: 1.2rem;
    margin: 0;
  }
}

//Page Margins
.container {
  max-width: 92%;
}

#gallery {
  padding-bottom: 25px;
}

#first-row {
  padding-top: 0;
}

//Nav bar
.navbar {
  padding: 2.5rem 1rem 0 1rem;
  text-transform: lowercase;

  .navbar-brand {
    font-size: 2rem;

    @media (max-width: 576px){
    font-size: 1.6rem;
    }
  }
}

.bg-light{
  background-color: #fff!important;
}

//Hamburger
.navbar-light .navbar-toggler {
  border: none;
}

// Header
#header {
    font-family: "Kumar One Outline", sans-serif;
    text-align: center;
    text-transform: lowercase;
    display: inline;
    position: relative;
    padding: 0;
    color: rgb(241, 103, 84);
}

// #header:after {
//     content: "bridget errante";
//     font-family: "Kumar One Outline", sans-serif;
//     position: absolute; left: 4px; top: 9px;
//     color: rgb(240,89,78);
// }

// Grid Spacing
.row {
padding: 0px 16px 12px 16px;

}

// Mobile Grid
@media (max-width: 992px){
  .row {
  padding-bottom: 0;
  padding-top: 0;
  }

  .col-sm-12 {
    padding-bottom: 24px;
  }
}

// Homepage Text
#landing-text-1 {
  display: block;

  @media (max-width: 992px){
    display: block;
  }
  @media (max-width: 576px){
    display: block;
    text-align: center;
  }
}

#landing-text-2 {
  display: none;

  @media (max-width: 992px){
    display: none;
  }
}

#landing-row {
  // background-color: #f4f6f6;
}

#homepage-text{
  padding: 2.5rem 0 2.5rem 1rem;
}
// Gallery
#gallery-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, .9);
}

#img-container:hover .overlay {
  opacity: 1;
}

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

//Footer
.fa{
  padding-left: 10px;
}
p{
  padding-top: 10px;
  margin: 0;
}

//About page
#about-text {
  text-align: right;

  @media (max-width: 992px){
    text-align: center;
  }
}

#contact-btn {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-style: solid;
  padding: 10px 20px 10px 20px;

  // @media (max-width: 991px){
  //   visibility: hidden;
  // }
}

#contact-btn-sm{
  visibility: hidden;

  @media (max-width: 992px){
    visibility: visible;
    background-color: #fff;
    border-style: solid;
    width: 50%;
  }

  @media (max-width: 576px){
    width: 100%;
  }
}

//Bottom Nav
#bottom-nav {
  font-size: 1.25rem;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 991px){
    font-size: 1rem;
  }

  @media (max-width: 576px){
    visibility: hidden;
  }
}

a {
  text-decoration: none;
  color: #d1d1d1;
}

  a:hover {
    text-decoration: none;
    color: #000;
  }

//Portfolio Pages
.card {
  border: none;

  .card-img-bottom {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  h3 {
    font-family: "Kumar One", sans-serif;
  }
}
