body {
  height: 100%;
  font-family: "Karla", sans-serif;
  background-color: #ffffff; }
  body h4 {
    font-size: 1.2rem;
    margin: 0; }

.container {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto; }

#gallery {
  padding-bottom: 25px; }

#first-row {
  padding-top: 0; }

.navbar {
  padding: 1.75rem 1rem 0 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.08rem; }
  @media (max-width: 992px) {
    .navbar {
      padding: 1.75rem 1rem 0 1.75rem; } }
  .navbar .navbar-brand {
    font-size: 0.9rem; }

#logo {
  text-align: center;
  text-transform: uppercase;
  display: inline;
  position: relative;
  padding: 0;
  color: #f16754; }

.navbar-light .navbar-toggler {
  border: none; }

.row {
  padding: 0px 16px 12px 16px; }

@media (max-width: 992px) {
  .row {
    padding-bottom: 0;
    padding-top: 0; }

  .col-sm-12 {
    padding-bottom: 24px; } }
#header {
  padding: 2.5rem 0 0.5rem 1rem; }

#header-row {
  padding: 6rem 1rem; }
  #header-row p {
    font-size: 1.9rem;
    line-height: 2.6rem;
    padding-bottom: 2rem; }
  @media (max-width: 992px) {
    #header-row {
      padding: 3rem 1.75rem; } }
  @media (max-width: 576px) {
    #header-row {
      padding: 3rem 1.75rem; }
      #header-row p {
        font-size: 1.3rem;
        line-height: 2.2rem; } }

#select-work h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
  padding: 0 0 1rem 0;
  margin: 0; }
@media (max-width: 992px) {
  #select-work {
    padding-left: 1.75rem; } }

#gallery #project-img {
  padding-bottom: 8rem; }
#gallery #project-id {
  font-family: "Rakkas", serif;
  font-size: 6rem;
  line-height: 1; }
  @media (max-width: 700px) {
    #gallery #project-id {
      font-size: 2.5rem; } }
#gallery #project-desc {
  font-size: 1.5rem; }
  @media (max-width: 700px) {
    #gallery #project-desc {
      font-size: 1rem; } }

#gallery-img {
  display: block;
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.9); }

#img-container:hover .overlay {
  opacity: 1; }

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.fa {
  padding-left: 10px; }

p {
  padding-top: 10px;
  margin: 0; }

#bottom-nav {
  font-size: 1.25rem;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 991px) {
    #bottom-nav {
      font-size: 1rem; } }
  @media (max-width: 576px) {
    #bottom-nav {
      visibility: hidden; } }

a {
  text-decoration: none;
  color: #d1d1d1; }

a:hover {
  text-decoration: none;
  color: #000; }

.card {
  border: none;
  background-color: transparent; }
  .card .card-img-bottom {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .card h3 {
    font-family: "Kumar One", sans-serif; }

/*# sourceMappingURL=style.css.map */
